.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7ED;
    color: #000000;
    height: 111px;
    padding-inline: 27px;
  }
  
  #homeTitleLink {
    font-weight: 900;
    color: #161616 !important;
    text-decoration: none;
    &:hover{
      text-decoration: none !important;
    }
  }
  
  .navBar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
  
  .navBar li{
    margin-right: 10px;
    font-size: 16;
    button{
      cursor: pointer;
      background-color: transparent;
      color: #4d4d4d;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
    }
    button:hover{
      color: #161616;
    }
  }

  .hamburger{
    display: none;
  }
  
  .nav-mobile-links{
    height: 100vh;
    display: flex;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.075);
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(255, 255, 255, 0.95);
    margin: 0;
    width: 250px;
    color: #4d4d4d;
    font-size: 20px;
  }
  
  .nav-mobile-link{
    width: 100%;
    text-align: center;
  }
  
  .nav-mobile-link:hover{
    background-color: #FFDDB2;
  }
  
  .close-nav{
    display: none;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
    color: #4d4d4d;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-desktop{
    display: none;
  }
  
  .nav-mobile-signout{
    margin: 0;
    height: 30px;
    width: 50%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
    background-color: #FF8C38;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
  }
  
  .nav-mobile-signout:hover{
    background-color: rgb(255, 120, 56);
  }
  
  @media (max-width: 768px) {
    .navBar {
      .nav-desktop{
        display: none;
      }
    }
  
    .nav-mobile{
      display: block;
      z-index: 1;
      h2{
        margin: 20px 0;
        font-size: 36px;
        color: #4d4d4d;
        a{
            color: black !important;
        }
        a:hover{
            text-decoration: none !important;
        }
      }
    }
  
    .close-nav{
      display: block;
    }
  
    .hamburger{
      display: block;
    }
  }

  