@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #FFF7ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 700;
    &:hover{
      color: #161616;
      text-decoration: underline;
    }
  }
  .my-link {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
  }
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer{
  text-align: center;
  background-color: #252525;
  color: #AAAAAA;
  font-size: 14;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}