@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFF7ED;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFF7ED;
  color: #000000;
  height: 111px;
}

.home-title {
  a{
    font-weight: 900;
    margin-left: 20px;
    color: #161616;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}


a{
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 700;
}

a:hover{
  color: #161616;
  text-decoration: underline;
}

.my-link {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.navBar ul{
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.navBar li{
  margin-right: 10px;
  font-size: 16;
}

.home-container{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../public/home_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content h1{
  width: 100%;
  margin: 0;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 36px;
}

.home-content{
  width: 90%;
  margin: 0;
}

.home-content p{
  margin-bottom: 50px;
}

.van-search-btn{
  width: 100%;
  outline: none;
  border: none;
  background-color: #FF8C38;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  color: white;
}

.footer{
  text-align: center;
  background-color: #252525;
  color: #AAAAAA;
  font-size: 14;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.about-container{
  flex-grow: 1;
  margin: 0;
  color: #161616;
}

.about-container img{
  width: 100%;
  height: 233px;
}

.about-hero-text {
  margin: 49px 0;
  margin-inline: 27px;
  font-weight: 600;
}

.about-hero-text h1{
  font-size: 32px;
}

.about-explore {
  margin-top: 55px;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 27px 37px ; 
}

.about-explore h2{
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}

.about-explore-btn {
  margin-top: 20px;
  width: 174px;
  height: 49px;
  border: none;
  outline: none;
  background-color: #161616;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.vans-container {
  flex-grow: 1;
  margin: 0 27px;
  color: #161616;
}

.vans-container h1{
  margin: 0;
}
.vans-filter-options {
  margin-top: 22px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.vans-filter-options > .simple-vans, .luxury-vans, .rugged-vans{
  width: 90px;
  height: 35px;
  background-color: #FFEAD0;
  border: none;
  outline: none;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.clear-filter{
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #4D4D4D;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.simple-vans:hover{
  background-color: #E17654;
  color: #FFEAD0;
}

.luxury-vans:hover{
  background-color: #161616;
  color: #FFEAD0;

}

.rugged-vans:hover{
  background-color: #115E59;
  color: #FFEAD0;
}

.simple-vans-active{
  background-color: #E17654;
  color: #FFEAD0;
  width: 90px;
  height: 35px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.luxury-vans-active{
  background-color: #161616;
  color: #FFEAD0;
  width: 90px;
  height: 35px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.rugged-vans-active{
  background-color: #115E59;
  color: #FFEAD0;
  width: 90px;
  height: 35px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.vans-filter-options a{
  color: #4D4D4D;
  font-weight: 600;
}

.vans-list {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.van {
  border-radius: 5px;
}

.van-image{
  max-width: 100%;
  border-radius: 5px;
}

.van-name-btn{
  display: flex;
  flex-direction: column;
  width: 75%;
  font-size: 20;
  font-weight: 600;
  row-gap: 6px;
}

.van button{
  padding: 6px 12px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  margin-right: auto;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van a{
  text-decoration: none;
  color: #161616;
}

.van .simple-vans{
  background-color: #E17654;
  color: #FFEAD0;
}

.van .luxury-vans{
  background-color: #161616;
  color: #FFEAD0;
}

.van .rugged-vans{
  background-color: #115E59;
  color: #FFEAD0;
}

.van-details-wrap{
  display: flex;
  justify-content: space-between;
}

.van-price{
  font-size: 20;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
}

.timeframe{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.van-detail-container {
  flex-grow: 1;
  margin: 0 27px;
  color: #161616;
}

.all-vans a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.van-detail-container a{
  color: #161616;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
}
.van-detail-container img{
  max-width: 100%;
  max-height: 490px;
  border-radius: 5px;
}

.van-detail-container button{
  width: 104px;
  height: 32px;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  margin-right: auto;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-detail-container .simple-vans{
  background-color: #E17654;
  color: #FFEAD0;
}

.van-detail-container .luxury-vans{
  background-color: #161616;
  color: #FFEAD0;
}

.van-detail-container .rugged-vans{
  background-color: #115E59;
  color: #FFEAD0;
}

.rent-van-btn {
  width: 90%;
  outline: none;
  border: none;
  background-color: #FF8C38;
  height: 50px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  cursor: pointer;

}

.host-layout-wrapper{
  margin: 0;
  
}
.host-dash-head{
  background-color: #FFEAD0;
  color: #161616;
  margin: 0;
  padding: 27px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  
  span {
    text-decoration: underline;
    font-weight: bold;
  };

  p {
    margin: 0;
  }

  h2 {
    font-size: 48px;
    margin: 0;
  }
}

.host-dash-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.host-dash-review{
  background-color: #FFDDB2;
  color: #161616;
  display: flex;
  padding: 27px;
  margin: 0;
  h4{
    margin: 0 10px 0 0;
  }
  p{
    margin-right: auto;

  }
  div {
    margin-left: auto;
  }
  span {
    text-decoration: underline;
    font-weight: bold;
  };
}

.host-dash-vans{
  color: #161616;
  padding: 27px;
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

.host-dash-vanlist{
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  div{
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 5px 0;
    a{
      width: 100%;
      display: flex;
      justify-content: start;
    }
  }
}

.income-head{
  padding: 27px;
  display: flex;
  flex-direction: column;
  color: #161616;
  font-size: 16px;
  h1{
    margin: 0;
    font-size: 36px;
    font-weight: 700;
  }
  p{
    color: #4D4D4D;
  }
  span{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
    color: #4D4D4D;
  }
  h2{
    font-size: 48px;
    margin: 0;
    font-weight: 800;
  }
  img{
    margin: 60px 0px;
  }
  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;    
    p, span{
      font-size: 16px;
    }
  }
}

.transaction{
  margin-top: 15px;
  background-color: #FFF;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding-inline: 20px;
  h4{
    font-size: 26px;
    font-weight: bold;
  }
  p{
    font-size: 20px;
    color: #4D4D4D;
  }
}

.host-van{
  height: 102px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-inline: 27px;
  margin-top: 15px;
  background-color: #fff;
  margin-bottom: 27px;
  img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
  }
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    color: #161616;
    p {
      margin: 0;
      width: 100%;
      font-size: 16px;
      color: #4D4D4D;
      text-align: left;
      font-weight: 600;
    }
    strong {
      margin: 0;
    }
  }
}

.host-van-link:hover{
  text-decoration: none;
}

.hostvan-detail{
  margin-inline: 27px;
  padding: 27px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  img{
    height: 155px;
    border-radius: 5px;
  }
  div{
    display: flex;
    flex-direction: column;
    height: 155px;
    justify-content: center;
    align-items: start;
    margin-inline: 20px 0px;
    button{
      padding: 8px 15px; 
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 14px;
      font-family: "Inter", sans-serif;
      border-radius: 5px;
      margin-right: auto;
      transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    }
    .simple-vans{
      background-color: #E17654;
      color: #FFEAD0;
    }
    .luxury-vans{
      background-color: #161616;
      color: #FFEAD0;
    }
    .rugged-vans{
      background-color: #115E59;
      color: #FFEAD0;
    }
    h1{
      font-size: 26px;
      color: #161616;
      font-weight: 800;
      margin: 0;
    }
    p{
      color: #161616;
      margin: 0;
    }
  }
}

.hostvan-detail-nav{
  margin-inline: 27px;
  background-color: #FFF;
  ul{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0 27px;
    li{
      margin-right: 20px;
    }
  }  
}

.backto-allvans{
  padding-inline: 27px;
}

.host-van-detail-info{
  margin-inline: 27px;
  margin-bottom: 27px;
  padding-block: 15px;
  background-color: #FFF;
  padding-inline: 27px;
  font-size: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  h4{
    margin: 0px;
    padding-bottom: 15px;
  }
  span{
    font-weight: 400;
  }
  
}
.host-van-pricing-info{
  margin-inline: 27px;
  margin-bottom: 27px;
  padding-block: 15px;
  background-color: #FFF;
  padding-inline: 27px;
  font-size: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  h4{
    margin-top: 15px;
    font-size: 24px;
  }
  span{
    font-size: 16px;
    font-weight: 400;
  }

}

.host-van-photos{
  margin-inline: 27px;
  margin-bottom: 27px;
  padding-block: 15px;
  background-color: #FFF;
  padding-inline: 27px;
  font-size: 14px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  img{
    width: 25%;
    border-radius: 5px;
  }
}

.login-wrapper{
  padding-inline: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    font-size: 32px;
  }
  h2{
    color: red;
    margin-top: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      background-color: #FFF;
      border: 1px solid #D1D5DB;
      color: #161616;
      height: 42px;
      padding-inline: 13px;
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 14px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    }
    input:focus, input:active{
      outline: none;
      background-color: whitesmoke;
    }
    input:focus::placeholder{
      visibility: hidden;
    }
    .top{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
    };
    .bottom{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button{
      margin: 20px 0;
      height: 55px;
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 16px;
      border-radius: 6px;
      background-color: #FF8C38;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
    }
    button:hover{
      background-color: rgb(255, 120, 56);
    }
  }
  p{
    color: #161616;
    font-weight: 600;
    margin: 20px 0;
    font-size: 16px;
    a{
      color: #FF8C38;
    }
  }
}


.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

